body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    display: flex;
    color: white;
    background-color: #1F2937;
    height: 500px;
    flex-direction: column;
    width: 100%
}

.top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
}

.logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 15px;
    margin-left: 250px;
}

ul {
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.header-links {
    margin-right: 250px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.left-box {
    display: flex;
    height: 100px;
    width: 400px;
    margin-left: 250px;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    background-color: rgb(106, 104, 104);
    width: 500px;
    height: 200px;
    margin-top: 50px;
    margin-left: 75px;
}

button {
    display: flex;
    color: white;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    margin-left: 250px;
    border-color: 1px solid royalblue;
    border-radius: 8px;
    margin-top: 40px;
}

/* Section 2 */

.sec-2 {
    display: flex;
    flex-direction: column;
    height: 500px;
}

.header-2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 25px;
}

.squares {
    display: flex;
    flex-direction: row;
}

.card {
    display: flex;
    border: 4px solid #3882F6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 200px;
    width: 200px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Section 3 */

.sec-3 {
    display: flex;
    flex-direction: column;
    height: 500px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.quote {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.quote-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1000px;
    height: 250px;
}

.attribution {
    display: flex;
    justify-content: flex-end;
}

/* Section 4 */
.sec-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
}

.box {
    display: flex;
    width: 1000px;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: white;
    justify-content: space-between;
    border-radius: 12px;
}

.left-box2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 400px;
    flex-direction: column;
    margin-left: 150px;
}

.right-box2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 150px;
    flex: 1;
}

button {
    display: flex;
    color: white;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    border-radius: 8px;
    margin-top: 30px;
    border-style: double;
    border-color: white;
    font-size: 17px;
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #1F2937;
    color: white;
}